
body{
  margin: 0 4rem 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}
h1{
  font-family: 'Inknut Antiqua', serif;
  font-size: 36px;
  color: #F7736F;
  border-bottom: solid 2px #FDB8B6;
  margin-bottom: 2px;
}
h2{
  color: #F7736F;
}
h3{
  color: #F7736F;

}
h4{
  color: #F7736F;
  font-weight: 300;
  font-size: 20px;
}
strong{
  color: #F7736F;
  font-weight: bold;
}
header{
  background-color: rgba(255, 255, 255, 0.7);
}
.title{
  width: 20rem;
  border-bottom: solid 2px #FDB8B6;
  /* background-color: rgba(255, 255, 255, 0.6); */
}
.title>a{
  text-decoration: none;
}
.cv-link {
  font-family: 'Inknut Antiqua', serif;
  color: #F7736F;
  text-decoration: ;
  transition: .3s;
}
.cv-link:hover{
  color: #736FAA;
}

.cv-link,a:visited{
  color: #F7736F;
}
.link{
  text-decoration: none;
  color: black;
  border-bottom: solid 2px #F7736F;
  transition: .4s;
}
.link:hover{
  border-bottom-width: 4px;
  border-color: #736FAA;
  color: #736FAA;
}
footer{
  font-family: 'Inknut Antiqua', serif;
  font-size: 14px;
  color: #F7736F;
}
.divider{
  border-bottom: solid 2px #FDB8B6;
}
/* list styling */
ul {
list-style: none
}
li::before {
  content: "•";
  color: #F7736F;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 1.4rem;
}
/* animation */
@keyframes fade-in {
    from {opacity: 0; transform: translateY(200px);}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1s;
}
.effect {
  opacity: 0;
}
